@media(max-width: 1070px){
    .main-header .header-upper .logo-outer{
        margin-top: 0;
        padding: 20px 0 20px;
        width: auto;
        z-index: 0;
    }
    .main-header .header-top .top-outer{
        margin-left: 0;
        padding-left: 0;
    }
    .main-header .header-upper .logo-outer:before {
        display: none;
    }
    .main-header .logo-outer .logo img{
        max-width: 175px;
    }
    .main-header .elementskit-navbar-nav > li{
        margin-right: 15px;
    }
    .main-header .elementskit-navbar-nav > li > a{
        font-size: 15px;
    }
    .fullwidth-section .left-column,
    .fullwidth-section .right-column{
        width: 100%;
    }
    .fullwidth-section .left-column .inner-column,
    .fullwidth-section .right-column .inner-column{
        max-width: 100%;
        padding: 60px 15px 70px 10px;
    }
    .fullwidth-section .icon-box{
        float: none;
    }
}

@media(max-width:991px){
    .main-header .xs-bold-menu{
        background-color: #243b81;
        border-radius: 5px;
        border: transparent;
        width: 90px;
        display: flex;
        position: absolute;
        right: 0;
        margin-top: 25px;
        flex-direction: row;
        align-items: center;
        height: 45px;
        justify-content: center;
    }
    .main-header .elementskit-navbar-nav > li{
        margin: 0;
        padding: 0 15px;
    }
    .main-header .elementskit-navbar-nav > li > a{
        padding-right: 18px;
        text-align: left;
        font-size: 16px;
    }
    .main-header .elementskit-megamenu-panel{
        padding: 0;
    }
    .elementskit-menu-close{
        color: #222222;
        border-radius: 0;
        font-size: 18px;
        border-width: 2px;
    }
    .elementskit-nav-logo img{
        max-width: 200px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .elementskit-nav-identity-panel{
        border-bottom: 2px solid #ddd;
    }
}

@media(max-width: 767px){
    .main-header .header-top{
        display: none;
    }
    .fluid-navbar{
        padding: 0 15px;
    }
    .footer-bottom .pull-left,
    .footer-bottom .pull-right{
        width: 100%;
        text-align: center;
    }
    .footer-bottom .pull-right .social-box{
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }
}

@media(max-width: 575px){
    .banner-column h2{
        font-size: 35px;
    }
    .about-header h2{
        font-size: 35px;
    }
}